html, body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
	background: url( "background.jpg" );
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#cf-game-col {
	font-size: 0px;
}

#game-div {
	margin: auto;
	background: black;
	padding: 20px;
	border-radius: 7px;
}

.user-color-box {
	/* Small margin to username */
	margin-right:4px;
	/* Divs default to ~30 px */
	width :30px;
	height:30px;
}

.user-list-line {
	/* Black line break. Reduced margins above/below. */
	border:none;
	background-color:#000000;
	height:2px;
	margin-top:4px;
	margin-bottom:4px;
}

input.row-input {
	/* Full div-width input box */
	width:100%;
}
