@font-face {
    font-family: Comfortaa;
    src: url(./fonts/Comfortaa-Regular.ttf);
}

html, body {
	margin  : 0px;
	padding : 0px;
	/* background          : url( "background.jpg" ); */
	background-size     : cover;
	background-position : center;
	background-repeat   : repeat;
}

#cf-game-col {
    font-size : 0px;
    padding   : 0px;
    margin    : 0px;
}

#game-div {
	background: rgb(33, 38, 71);
	margin  : 0px;
	padding : 10px;
    border: solid  1.5px rgba(162, 201, 209, 0.774);
    border-radius: 0.3rem;
    box-shadow: 
        0px 0px 15px 2px #1b5e949c,
        -5px 0px 15px 1px #1b5d946e,
        5px 0px 15px 1px #1b5d946e,
        -15px 0px 15px 1px #0d7eb341,
        15px 0px 15px 1px #0d7eb341,
        inset 0px 0px 10px 1px #1b5e949c,
        inset 0px 0px 5000px 1px #6092ff1c;
}

.game-status-header{
    color: rgb(204, 253, 255);
    font-family: 'Orbitron', san-serif;
    font-size: 1.0vw;
    margin-bottom: 0.15vw;
    margin-top: 0.5rem;
    text-shadow:         
        0px 0px 5px #66b5ff,
        0px 0px 10px #8004c7;
}

.game-status-section {
    /* background-color: #eee;
    border-radius : 0.4vw;
    margin-bottom : 0.1vw;
    font-family: 'Space Mono', monospace;*/
    font-size  : 1vw;
    min-width  : 17vw;
    padding: 0.4vh 0.5vw;
    background-color: rgba(0, 0, 0, 0);
    margin-bottom : 0.1vw;
    width: 100%;
    border: solid  1.5px rgba(201, 247, 255, 0.856);
    border-radius: 0.3rem;
    box-shadow: 
        0px 0px 15px 2px #249bfc9c,
        inset 0px 0px 10px 2px #249bfc9c,
        inset 0px 0px 5000px #6092ff1c;
}

.game-status-section p{
    font-family: 'Quantico', sans-serif;
    font-size: 1vw;
    color: #fff;
    text-shadow:         
        0px 0px 3px #66b5ff,
        0px 0px 5px #0059a1;
    margin: 0.15rem;
}

.game-status-section button {
    font-family: Comfortaa;
    font-size: 1vw;
    min-width: 100%;
    color: #fff;
    text-shadow:         
        0px 0px 3px #66b5ff,
        0px 0px 5px #0059a1;
    border: solid  1.5px rgba(201, 247, 255, 0.856);
    border-radius: 0.5vw;
    box-shadow: 
        0px 0px 10px 2px #249bfc9c,
        inset 0px 0px 5px 2px #249bfc9c;
    background-color: #00000000;
    transition: background-color 0.1s, box-shadow 0.1s;
}

.game-status-section button:active {
    background-color: #b5d1ffe1;
    box-shadow: 
        0px 0px 20px 2px #249bfc9c,
        inset 0px 0px 15px 2px #249bfc9c;
}

.user-gold-p {
    color: rgb(255, 237, 210);
    text-shadow:         
        0px 0px 3px #fff566,
        0px 0px 5px #ca8506 !important;
}

.game-status-title {
    color: #fff;
    font-family: Quantico;
    text-shadow:         
        0px 0px 3px #66b5ff,
        0px 0px 5px #0059a1;
}

#join-game-form label {
    color: #fff;
    font-family: Quantico;
    margin-top: 0.2vh;
    margin-bottom: 0.1vh;
    text-shadow:         
        0px 0px 3px #66b5ff,
        0px 0px 5px #0059a1;
}

#join-game-form input {
    background: transparent;
    font-family: Quantico;
    color: #fff;
    border-radius: 2vw;
    border: solid  1px rgba(144, 197, 206, 0.856);
    padding: 0 0.8vw;
    margin-bottom: 0.6vh;
    text-shadow:         
        0px 0px 3px #66b5ff,
        0px 0px 5px #0059a1;
    box-shadow: 
        0px 0px 4px 1px #249bfc9c,
        inset 0px 0px 2px 1px #249bfc9c,
        inset 0px 0px 5000px #767ea152;
    transition: box-shadow 0.5s, background 0.5s;
}

#join-game-button {
    margin-top: 0.8vh;
    margin-bottom: 0.5vh;
}

#join-game-form input:hover {
    box-shadow: 
        0px 0px 10px 1px #8fcdff,
        inset 0px 0px 5px 1px #1f94f3e0,
        inset 0px 0px 5000px #767ea152;
}

#join-game-form input:active {
    background: #b1c6dae7;
}

.game-status-value {
    font-family: Quantico;
    color: #caffe9;
    text-shadow:         
        0px 0px 4px #00d861,
        0px 0px 8px #338f43;
}

.game-control a {
    color: rgb(160, 204, 229);
}

.user-color-box {
	margin  : 0.1vw;
	width   : 1.5vw;
    height  : 1.5vw;
    border-radius: 0.4vw;
    border: solid 2px #80939c;
    box-shadow: 
        0px 0px 4px 1px #5a90d69c,
        inset 0px 0px 2px 1px #249bfc9c;
}

.resource-incr-p {
    color: #00E000 !important;
}

.resource-decr-p {
    color: #FF4444 !important;
    text-shadow:         
        0px 0px 2px #a655aa,
        0px 0px 4px #503975 !important;
}



.user-list-line {
	/* Black line break. Reduced margins above/below. */
	border:none;
	background-color:black;
	height        : 2px;
	margin-top    : 4px;
	margin-bottom : 4px;
}

input.row-input {
	/* Full div-width input box */
	width: 100%;
}

#replay-slider {
    -webkit-appearance: none;
    width: 100%;
    height: 0.7vh;
    background: #b3b3b3;
    outline: none;
    opacity: 0.5;
}

#replay-slider:hover {
    opacity:0.8;
}

#replay-file-load-button {
    background: transparent;
    font-family: Quantico;
    color: #fff;
    border-radius: 0.5vw;
    border: solid  1px rgba(144, 197, 206, 0.856);
    padding: 0 0.8vw;
    margin: 0.8vh 0vw;
    text-shadow:         
        0px 0px 3px #66b5ff,
        0px 0px 5px #0059a1;
    box-shadow: 
        0px 0px 4px 1px #249bfc9c,
        inset 0px 0px 2px 1px #249bfc9c,
        inset 0px 0px 5000px #767ea152;
    transition: box-shadow 0.5s;
}

#replay-file-load-button:hover {
    box-shadow: 
        0px 0px 10px 1px #8fcdff,
        inset 0px 0px 5px 1px #1f94f3e0,
        inset 0px 0px 5000px #767ea152 !important;
}

#replay-file-load-button:active {
    
}
