.table-container {
    background-color: rgba(13, 6, 7, 0.7);
    border: solid 15px rgba(13, 6, 7, 0.7);
}

.table-div {
    width: 100%;
    max-width: 100%;
    font-family: 'Space Mono', monospace;
}

.table-head {
    vertical-align: middle;
    background: rgba(217, 208, 235, 0.8);
    background-image: linear-gradient(-180deg, rgb(217, 218, 241), rgb(205, 204, 233));
    font-size: 1.3rem;
    font-weight: 700;
    color: #000;
}

.th-name {
    width: 60%;
}

.table-column {
    padding: 15px;
    font-size: 1.2rem;
    border: none;
}

.table-row {
    margin:0;
}

.table-row-content {
    background-image: linear-gradient(-180deg, rgb(217, 218, 241), rgb(205, 204, 233));
    color: #000;
    border-radius: 20px 20px 5px 5px;
    border-top: solid 10px rgba(13, 6, 7, 1);
    border-left: solid 5px rgba(13, 6, 7, 1);
    border-right: solid 5px rgba(13, 6, 7, 1);
}

.table-row-content:hover {
    background-image: linear-gradient(-180deg, #fbe971, #f77b2c);
}

#gameroom-create-fa {
    color: rgb(30, 30, 30);
}

.gameroom-name-div>a {
    color: black;
}
