html, body {
	margin: 0px;
	padding: 0px;
	background: url( "background.jpg" );
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#cf-game-col {
    font-size: 0px;
    padding: 0px;
    margin: 0px;
}

#game-div {
	margin: 0px;
	background: black;
	padding: 10px;
	border-radius: 7px;
}

.user-color-box {
	/* Small margin to username */
	margin-right:4px;
	/* Divs default to ~30 px */
	width :30px;
	height:30px;
}

.user-list-line {
	/* Black line break. Reduced margins above/below. */
	border:none;
	background-color:#000000;
	height:2px;
	margin-top:4px;
	margin-bottom:4px;
}

input.row-input {
	/* Full div-width input box */
	width:100%;
}
