html, body {
	margin  : 0px;
	padding : 0px;
	background          : url( "background.jpg" );
	background-size     : cover;
	background-position : center;
	background-repeat   : repeat;
}

#cf-game-col {
    font-size : 0px;
    padding   : 0px;
    margin    : 0px;
}

#game-div {
	background: black;
	margin  : 0px;
	padding : 10px;
	border-radius: 7px;
}

.game-status-header{
    color: #fff;
    font-size: 1.2vw;
    margin-bottom: 0.1vw;
}

.game-status-section {
    background-color: #eee;
    border-radius : 0.4vw;
    padding       : 0.5vw;
    margin-bottom : 0.1vw;
    font-family: 'Space Mono', monospace;
    font-size  : 0.9vw;
    min-width  : 17vw;
}

.game-status-section p {
    margin: 0.1vw;
}

.game-status-value {
    color: #356131;
}

.game-control a {
    color: #000;
}

.user-color-box {
	margin  : 0.1vw;
	width   : 1.5vw;
	height  : 1.5vw;
}

.user-list-line {
	/* Black line break. Reduced margins above/below. */
	border:none;
	background-color:#000000;
	height        : 2px;
	margin-top    : 4px;
	margin-bottom : 4px;
}

input.row-input {
	/* Full div-width input box */
	width: 100%;
}
