html, body {
    height: 100%;
    width: 100%;
}

html {
    background-image: linear-gradient(#428050, #30582C);
}

body {
    background-color: transparent;
    font-family: "Nunito Sans","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: 1.2rem;
}

.navbar {
    background-image: linear-gradient(#428050, #356131);
}

.navbar-fixed-top {
    position: relative;
    top: auto;
    margin-bottom: 20px;
}

.navbar-brand {
    color: #A5E8B7;
}
.navbar-brand:hover {
    color: #A5E8B7;
}

.nav-link {
    color: #A5E8B7;
    font-size: 1.2rem;
    padding: 0.5rem 0.2rem;
}

.nav-link:hover {
    color: #A5E8B7;
    background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.3));
}

.nav ul li {
    color: #A5E8B7;
    list-style-type: square;
}

.main-content {
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.2rem;
}

.section-overview {
    padding: 100px 80px;
}

.section-overview h1 {
    text-shadow: 0 1px 5px #A5E8B7;
}

.section-overview p {
    letter-spacing: 0.1rem;
}

.section-overview a {
    font-size: 1.4rem;
    background-image: linear-gradient(-180deg, #fad961, #f76b1c);
    font-weight: 600;
    color: #fff;
    border: 0;
}

.btn-start {
    padding: 15px 20px;
    text-align: center;
    text-transform: uppercase;
}

.doc-content-container {
    color: #373A49;
}

.doc-header {
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 0 1px 3px #A5E8B7;
    padding: 10px 0;
}

.doc-section {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px 35px 40px;
    margin-bottom: 20px;
}

.doc-section p {
    margin-bottom: 0.5rem;
}

.doc-section h1 {
    margin-top: 1.5rem;
    border-bottom: 2px solid #e0e2e4;
    padding-bottom: 0.3rem;
}

.doc-section h2 {
    margin-top: 1.4rem;
    border-bottom: 2px solid #eaecef;
    padding-bottom: 0.3rem;
}

.doc-section h3 {
    margin-top: 1.3rem;
}

.doc-section h4 {
    margin-top: 1.2rem;
}

.doc-section h1,h2,h3,h4 {
    font-weight: 600;
}

.game-status-header{
    color: #fff;
}

.game-status-section {
    background-color: #eee;
    border-radius: 6px;
    padding: 8px;
    min-width: 200px;
}

.game-status-section p {
    margin: 2px;
}

.game-status-value {
    color: #356131;
}

.game-control a {
    color: #000;
}

code {
    background-color: #f9f2f4;
    border-radius: 4px;
    padding: 2px 4px;
}

.table-container {
    background: #edf6ff;
}

table {
    width: 100%;
    max-width: 100%;
    border-color: grey;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    background: rgba(2, 82, 30, 0.05);
}

th {
    border-right: 1.2px solid rgba(8, 27, 83, 0.1);
    padding: 15px;
    font-size: 1.2rem;
}

tr {
    display: table-row;
}

td {
    border: 1.2px solid rgba(8, 27, 83, 0.1);
    color: #0c0c0c;
    padding: 15px;
    font-size: 1.1rem;
}
