<!DOCTYPE html>
<html>
  <head>
    {% include 'header.html' %}
    <link rel="stylesheet" href='/static/gameroom_list.css'>
  </head>
  <body>
    {% include 'navbar.html' %}
    {% set require_master_admin = True %}
    <div class="container">
      <div class="main-content">

        <div id="admin-config-div">
          <form>
            <div class="form-group">
              <label>Admin Password</label>
              <input type=password id="config-admin-password-input" class="form-control">
            </div>
            <div class="form-group">
              <label>Max Gameroom Number ({{ max_gameroom_number }})</label>
              <input id="max-gameroom-number-input" class="form-control">
            </div>
            <div class="form-group">
              <label>Idle Clear Time(seconds) ({{ idle_clear_time }})</label>
              <input id="idle-clear-time-input" class="form-control">
            </div>
            <div class="form-group">
              <label>Allow Create Room ({{ allow_create_room }})</label>
              <select class="form-control" id="allow-create-room-sel">
                <option value="same" selected="selected">Same as current</option>
                <option value="true">True</option>
                <option value="false">False</option>
              </select>
            </div>
            <div class="form-group">
              <button type=button id="submit-button" class="btn from-control">Submit</button>
            </div>
          </form>
        </div> <!-- admin-config-div -->

        <div>
          <form>
            <div class="form-group">
              {{ curr_time }}
            </div>
            <div class="form-group">
              Official Time: {{ is_official }}
            </div>
            <div class="form-group">
              <label>Backup Tag</label>
              <input id="backup-tag-input" class="form-control">
            </div>
            <div class="form-group">
              <button type=button id="reset-leaderboard-button" class="btn btn-danger from-control">Reset Leaderboard</button>
            </div>
          </form> 
        </div>

        <div id="gameroom-div">
          <button type="button" href="#" data-toggle="modal" data-target="#gameroom-create-modal" id="gameroom-modal-toggle-button" class="btn btn-success">Create Gameroom</button>
          {% include 'roomlist.html' %}
        </div>

      </div>
    </div>
    {% include 'create_gameroom_modal.html' %}

    {% include 'delete_gameroom_modal.html' %}

    <script src="/static/admin.js"></script>
  </body>
</html>
