<div class="modal fade" id="config-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">ColorFightII Configuration</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="admin-password-input">Admin Password</label>
          <input id="admin-password-input" class="form-control" type="password" placeholder="Leave blank for public rooms">

        </div>
        <div class="form-group">
          <label for="max-turn-sel">Max Turn</label>
          <select class="form-control" id="max-turn-sel">
            <option value="same" selected="selected">Same as current</option>
            <option value="300">300</option>
            <option value="500">500</option>
            <option value="700">700</option>
            <option value="1000">1000</option>
          </select>
        </div>
        <div class="form-group">
          <label for="round-time-sel">Round Time</label>
          <select class="form-control" id="round-time-sel">
            <option value="same" selected="selected">Same as current</option>
            <option value="0.5">0.5</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
        </div>
        <div class="form-group">
          <label for="first-round-time-sel">Preparation Time</label>
          <select class="form-control" id="first-round-time-sel">
            <option value="same" selected="selected">Same as current</option>
            <option value="1">1</option>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="30">30</option>
          </select>
        </div>
        <div class="form-group">
          <label for="finish-time-sel">Finish Time</label>
          <select class="form-control" id="finish-time-sel">
            <option value="same" selected="selected">Same as current</option>
            <option value="10">10</option>
            <option value="30">30</option>
            <option value="60">60</option>
            <option value="0">Never</option>
          </select>
        </div>
        <div class="form-group">
          <label for="allow-join-after-start-sel">Allow Join After Start</label>
          <select class="form-control" id="allow-join-after-start-sel">
            <option value="same" selected="selected">Same as current</option>
            <option value="true">True</option>
            <option value="false">False</option>
          </select>
        </div>
        <div class="form-group">
          <label for="allow-manual-mode-sel">Allow Manual Mode</label>
          <select class="form-control" id="allow-manual-mode-sel">
            <option value="same" selected="selected">Same as current</option>
            <option value="true">True</option>
            <option value="false">False</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
