<html>
  <head>
    {% include 'header.html' %}
  </head>
  <body>
    {% include 'navbar.html' %}
    <div class="container">
      <div class="main-content">
        <div class="row justify-content-md-center">
          <div class="col-md-10">

            <div class="doc-content-container">

              <div class="doc-header">
                <h1>CONTACT US</h1>
              </div>

              <div class="doc-section">
                <h3>Author</h3>
                <p>You are welcome to contact the author of ColorFightII at 
                   <a href="mailto:gaogaotiantian@hotmail.com">gaogaotiantian@hotmail.com</a>
                   for any related questions, including but not limited to:
                </p>
                <ul>
                  <li>Sponsorship of ColorFightII to show your logo on our website</li>
                  <li>Hosting ColorFightII competition in your school as an event</li>
                  <li>Bugs that you found in ColorFightII</li>
                  <li>Future improvements of ColorFightII</li>
                </ul>

              </div>

            </div> <!-- doc-content-container -->

          </div>
        </div>
      </div>
    </div>
  </body>
</html>
