<!DOCTYPE html>
<html>
  <head>
    {% include 'header.html' %}
  </head>
  <body>
    {% include 'navbar.html' %}
    <div class="container">
      <div class="main-content">
        <div class="row justify-content-md-center">
          <div class="col-md-10">

            <div class="doc-content-container">

              <div class="doc-header row">
                <div class="col">
                  <h1>CONTACT US</h1>
                </div>
                <div class="col contact-icons-div text-right mr-1">
                  <a target="_blank" href="https://join.slack.com/t/colorfightai/shared_invite/enQtNjc1NTE1ODA3NDg5LTFmOGUzYmM2OTNlZGM2OWI2OGNiMmQxMjEzOTcyZmU1MWFlOWQ4YjJhZGRlMTExZDc2ODdiNjkxOTFhY2JlNjk"><i class="fab fa-slack fa-2x"></i></a>
                  <a target="_blank" href="https://www.twitter.com/colorfightai"><i class="fab fa-twitter-square fa-2x"></i></a>
                  <a target="_blank" href="https://www.facebook.com/colorfightai"><i class="fab fa-facebook-square fa-2x"></i></a>
                </div>
              </div>

              <div class="doc-section">
                <h3>Author</h3>
                <p>You are welcome to contact the author of ColorFightII at 
                   <a href="mailto:info@colorfightai.com">info@colorfightai.com</a>
                   for any related questions, including but not limited to:
                </p>
                <ul>
                  <li>Sponsorship of ColorFightII to show your logo on our website</li>
                  <li>Hosting ColorFightII competition in your school as an event</li>
                  <li>Bugs that you found in ColorFightII</li>
                  <li>Future improvements of ColorFightII</li>
                </ul>

              </div>

              <div class="doc-section">
                <h3>Our Development Team</h3>
                <p>
                  We have a really great development team to make this happen.
                  I would like to introduce them who contribute a lot to 
                  ColorFightII
                </p>
                <ul>
                  <li>Game Design & Game Engine: Tian Gao</li>
                  <li>Web Back-end: Tian Gao</li>
                  <li>Web Front-end: Richard O'Dowd, Tian Gao, Boning Dong, Kwami Studios</li>
                  <li>Test For Game Engine: Tengyue Hu</li>
                  <li>Python Client: Tian Gao</li>
                  <li>Java Client: Delin Sun</li>
                </ul>

              </div>

            </div> <!-- doc-content-container -->

          </div>
        </div>
      </div>
    </div>
  </body>
</html>
