<!DOCTYPE html>
<html>
  <head>
    {% include 'header.html' %}
    <link rel="stylesheet" href='/static/gameroom_list.css'>
  </head>
  <body>
    {% include 'navbar.html' %}
    <div class="container">
      <div class="main-content">
        <div class="row">
          <div class="col-md-12">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            {% include 'roomlist.html' %}
          </div>
        </div>
      </div>

      {% include 'create_gameroom_modal.html' %}

      {% include 'delete_gameroom_modal.html' %}

    </div>
    <script src="/static/gameroom_list.js"></script>
  </body>
</html>
