<h1 id="colorfightii-rules">ColorfightII Rules</h1>
<h2 id="overview">Overview</h2>
<p>ColorfightII is a round based game where players try to expand their territory and collect resources to win the game. </p>
<p>There are two kinds of resources:</p>
<ul>
<li>Energy</li>
<li>Gold</li>
</ul>
<p>Each player starts with an initial amount of energy and a home cell. 
Each cell controlled by the player during a round will provide gold and energy. </p>
<p>Players can use energy to attack and occupy other cells to expand their territory 
and gain more gold and energy per turn. </p>
<p>Players can use gold to build different buildings on their own cells to enhance their effects.</p>
<p>At the end of the game, the player with the most gold wins.</p>
<h2 id="game-flow">Game Flow</h2>
<h3 id="preparation">Preparation</h3>
<p>In the beginning of each game, a 30x30 map will be generated. </p>
<h3 id="register">Register</h3>
<p>At the beginning of the game players can register to join the game. 
Each player that regisers will be assigned a <code>Home</code> cell and start with 1000 <code>energy</code>.</p>
<h3 id="cells">Cells</h3>
<p>Each cell of the map will have: </p>
<ul>
<li><code>natural_energy</code> Base energy generated per turn.</li>
<li><code>natural_gold</code> Base gold generated per turn.</li>
<li><code>natural_cost</code> Base energy cost to capture.</li>
</ul>
<h3 id="commands">Commands</h3>
<p>During each round a player can give a list of commands. 
The possible commands are:</p>
<ul>
<li>attack</li>
<li>build</li>
<li>upgrade</li>
</ul>
<h4 id="attack">Attack</h4>
<p>Players can attack cells adjacent to any of their owned cells in the four cardinal directions (up, down, left, right) by using energy. </p>
<p>Each cell has a <code>natural_cost</code> and a <code>force_field</code>. </p>
<p>To capture a cell, at least <code>attack_cost</code> energy must be spent. </p>
<ul>
<li><code>attack_cost == natural_cost + force_field</code></li>
</ul>
<p>Any energy used in an attack will be consumed even if the attack fails to capture the cell. </p>
<p>If multiple players attack a cell in the same round, only the player who spends the most energy may capture the cell. 
However, in order for the attack to succeed, the player who spends the most energy must spend more than all other attackers combined and still have enough left over to actually capture the cell. </p>
<p>In mathematical terms, the <code>net_attack</code> is calculated as: </p>
<ul>
<li><code>net_attack == max_energy * 2 - total_energy</code></li>
</ul>
<p>Or equivalently as:</p>
<ul>
<li><code>net_attack == max_energy - all_other_attackers</code> </li>
</ul>
<p>Where <code>max_energy</code> is the highest energy a player spends on the cell.</p>
<p>You can think of this as the highest energy spent on the cell is neutralized by other energy spent, before it's used to attack the cell.</p>
<p><code>net_attack</code> must be greater than <code>attack_cost</code> to capture the cell. </p>
<p>Note that players can attack their own cells as a strategy to protect them. </p>
<blockquote>
<p>For example, assume the <code>attack_cost</code> of a cell is <code>100</code> and Player A owns it. 
If player B uses 100 energy to attack the cell and player A uses 1 energy to attack the cell on the same round, then <code>net_attack</code> is only 99 and player B will fail to capture the cell. </p>
</blockquote>
<p>When a cell is captured, a <code>force_field</code> will be generated to make it harder for other players to attack. 
As stated previously, <code>force_field</code> is added to the <code>natural_cost</code> to calculate the <code>attack_cost</code>. </p>
<p>The more excess energy the player uses to attack a cell, the more <code>force_field</code> will be generated if the cell is captured. 
On capture, the cell will gain <code>force_field</code> equal to twice the excess attack strength up to a maximum of <code>1000</code>. In mathematical terms this is:</p>
<ul>
<li><code>min(1000, 2 * (net_attack - attack_cost))</code></li>
</ul>
<blockquote>
<p>Case 1, if player A spends 50 energy to attack it, the attack will fail and player A will lose 50 energy(which is not a wise move). </p>
<p>Case 2, if player A spends 150 energy to attack it, the attack will succeed and player A will occupy the cell and lose 150 energy. 
The cell will have 100 <code>force_field</code> because 50 more energy than was needed to capture the cell was spent, so the <code>attack_cost</code> will be 200. </p>
<p>Case 3, if player A spends 150 energy and player B spends 150 energy. 
The attack will fail because <code>net_attack == 150 - 150 == 0</code>. 
Both A and B lose 150 energy (bad for them, but not a stupid since they can not predict what the other players might do).</p>
<p>Case 4, if the player A spends 350 energy and player B spends 150 energy. 
Player A will capture the cell because <code>net_attack == 350 - 150 == 200</code> and lose 350 energy. 
Player B will lose 150 energy. 
The cell will be owned by A and have <code>force_field == min(1000, 2 * (200 - 100)) == 200</code></p>
</blockquote>
<h4 id="build">Build</h4>
<p>Players can enhance cells they own by building on them. </p>
<p>Each building has a gold <code>cost</code> to build it. </p>
<p>The buildings will take effect the round they are built. </p>
<p>There are four types of buildings:</p>
<ul>
<li><code>Home</code> The home base of the player.</li>
<li><code>Well</code> Upgrades energy generation.</li>
<li><code>Mine</code> Upgrades gold generations.</li>
<li><code>Fort</code> Generates force field.</li>
</ul>
<h4 id="upgrade">Upgrade</h4>
<p>A player can upgrade their buildings to improve their effects. </p>
<p>All buildings, including <code>Home</code>, start at level 1 when built. 
After each upgrade the level will increase by 1. 
Buildings other than <code>Home</code> can only be upgraded until they reach the current upgrade level of <code>Home</code>. 
In order to upgrade them further, <code>Home</code> must be upgraded. </p>
<p>Note that a player can build and upgrade a cell in the same round since the build command is handled first. </p>
<h3 id="update">Update</h3>
<h4 id="order">Order</h4>
<ol>
<li>
<p>All commands will be parsed.</p>
<ol>
<li>All build commands will be applied.</li>
<li>All upgrade commands will be applied.</li>
<li>Build and upgrade resources will be consumed.</li>
</ol>
</li>
<li>
<p>Update cells</p>
<ol>
<li>All attack commands will be parsed.</li>
<li>Effects of attack commands will be applied per cell. Calculate new owners and buildings.</li>
<li><code>Gold</code> and <code>Energy</code> income for each player will be updated.</li>
<li><code>tech_level</code> for each player will be updated.</li>
<li><code>force_field</code> for each cell will be updated.</li>
</ol>
</li>
<li>
<p>Update players</p>
<ol>
<li><code>Gold</code> and <code>Energy</code> will be updated.</li>
<li>Players without any cells will be marked as dead.</li>
</ol>
</li>
</ol>
<h2 id="game-feature">Game Feature</h2>
<h3 id="mapcell">MapCell</h3>
<p>A <code>MapCell</code> represents a cell that a user can occupy. </p>
<p><code>MapCell</code> can produce energy and gold for each round. 
It has three natural attributes:</p>
<ul>
<li><code>natural_energy</code> (1 - 10)</li>
<li><code>natural_gold</code> (1 - 10)</li>
<li><code>natural_cost</code> (1 - 300)</li>
</ul>
<p>The natural attributes of a cell will not change during the game. 
However, the actual energy and gold it produced by the cell and the actual cost to capture it may change due to other aspects. </p>
<p>The actual resource generating attributes are:</p>
<ul>
<li><code>energy</code> The actual energy generated per round. </li>
<li><code>gold</code> The actual gold generated per round.</li>
</ul>
<h3 id="gamemap">GameMap</h3>
<p><code>GameMap</code> consists of <code>GAME_WIDTH * GAME_HEIGHT</code> <code>MapCell</code>s.</p>
<p>At the beginning of the game, the game will generate a <code>GameMap</code> and blur
it so the <code>natural_cost</code> will be smooth.</p>
<p><code>natural_cost</code> is weakly correlated with the <code>natural_energy</code> and  <code>natural_gold</code> of the <code>MapCell</code>. </p>
<h4 id="buildings">Buildings</h4>
<p>Players can build buildings on a <code>MapCell</code> they own at the cost of some resources. 
Only one building can be built per <code>MapCell</code>.</p>
<p>Players can upgrade their buildings to enhance their effects at the cost of some resources. 
Every building has a current upgrade <code>level</code>.
When a building is built, the <code>level</code> starts at <code>1</code>.
When a player upgrades a building, the upgrade <code>level</code> increases by one and the effect of the building is enhanced. </p>
<p>Each player has a <code>tech_level</code> which is the level of their <code>Home</code> if they have one, otherwise it is 0. 
Buildings other than the <code>Home</code> can only be upgraded until they reach the player's current <code>tech_level</code>. 
In order to upgrade further, the player must upgrade the <code>level</code> of their <code>Home</code> to increase their <code>tech_level</code>.</p>
<p>When another player captures a cell, the building on it is destroyed. </p>
<p>In the event that a player loses his/her <code>Home</code> all of his/her buildings will be destroyed. </p>
<h5 id="home">Home</h5>
<p>Each player may only have one <code>Home</code> at a time. </p>
<p>Each player starts with a <code>Home</code> on their starting cell. </p>
<p><code>Home</code> provides 10 <code>gold</code> and 10 <code>energy</code> per <code>level</code>.</p>
<ul>
<li><code>energy == 10 * level</code></li>
<li><code>gold == 10 * level</code></li>
</ul>
<p><code>Home</code> has an <code>attack_cost</code> based on the current <code>level</code> and the energy the owner has. </p>
<ul>
<li><code>attack_cost == level * (1000 + force_field + user.energy)</code></li>
</ul>
<p>Build and upgrade cost: </p>
<ul>
<li><code>(energy, gold)</code></li>
<li><code>cost == (0, 1000)</code></li>
<li><code>upgrade_cost == [2: (1000, 1000), 3: (2000, 2000)]</code></li>
</ul>
<p>When a player loses their <code>Home</code>, <code>1/3</code> of their total <code>gold</code> will be lost and given to the player who captured their <code>Home</code>.
In addition, their <code>tech_level</code> will be reduced to <code>0</code> and all of their buildings will be destroyed. </p>
<ul>
<li>Destroy Effect: <code>1/3</code> of <code>gold</code> will be stolen by the attacker. All buildings will be destroyed. </li>
</ul>
<h5 id="energy-well">Energy Well</h5>
<p><code>EnergyWell</code> enhances the energy production of a cell. 
It increases the production by the <code>natural_energy</code> per <code>level</code>.</p>
<ul>
<li><code>energy == natural_energy * (1 + level)</code></li>
</ul>
<p>Build and upgrade cost:</p>
<ul>
<li><code>(energy, gold)</code></li>
<li><code>cost == (0, 100)</code></li>
<li><code>upgrade_cost == [2: (0, 200), 3: (0, 400)]</code></li>
</ul>
<p>Capturing a cell with an <code>EnergyWell</code> gives free <code>force_field</code></p>
<ul>
<li><code>Destroy Effect: Add (1: 50, 2: 150, 3: 350) force_field</code></li>
</ul>
<h5 id="gold-mine">Gold Mine</h5>
<p><code>GoldMine</code> enhances the gold production of a cell. 
It increases the production by the <code>natural_gold</code> per <code>level</code>.</p>
<ul>
<li><code>gold == natural_gold * (1 + level)</code></li>
</ul>
<p>Build and upgrade cost:</p>
<ul>
<li><code>(energy, gold)</code></li>
<li><code>cost == (0, 100)</code></li>
<li><code>upgrade_cost == [2: (0, 200), 3: (0, 400)]</code></li>
</ul>
<p>Capturing a cell with an <code>GoldMine</code> gives free <code>gold</code></p>
<ul>
<li><code>Destroy Effect: Add (1: 50, 2: 150, 3: 350) gold</code></li>
</ul>
<h5 id="fortress">Fortress</h5>
<p><code>Fortress</code> enhances the defensive and offensive properties of a cell. 
It increases the <code>attack_cost</code> of a cell, generates <code>force_field</code> for the cell and its allied neighbors, and decreases <code>force_field</code> of enemy neighbors. </p>
<ul>
<li><code>attack_cost</code> = <code>(natural_cost + force_field) * (1 + level)</code></li>
<li><code>self_forcefield_incr == 4 * level</code></li>
<li><code>ally_forcefield_incr == 2 + 2 * level</code></li>
<li><code>enemy_forcefield_decr == 6 + 10 * level</code></li>
</ul>
<p>Build and upgrade cost:</p>
<ul>
<li><code>(energy, gold)</code></li>
<li><code>cost == (0, 100)</code></li>
<li><code>upgrade_cost == [2: (0, 200), 3: (0, 400)]</code></li>
</ul>
<h4 id="force-field">Force Field</h4>
<p>Each <code>MapCell</code> has a <code>force_field</code>. 
The value of the <code>force_field</code> increases the <code>attack_cost</code> of the <code>MapCell</code>. 
Unowned cells start with <code>force_field == 0</code>. </p>
<p>When capturing a cell, energy beyond what is necessary to capture the cell increases the <code>force_field</code>. 
The <code>force_field</code> gained is twice the excess energy:</p>
<ul>
<li><code>force_field == min(1000, 2 * (net_attack - attack_cost))</code></li>
</ul>
<p>In addition, when capturing a cell with an <code>EnergyWell</code>, the cell will gain <code>force_field</code> based on the level of the <code>EnergyWell</code>. </p>
<ul>
<li><code>force_field += (1: 50, 2: 150, 3: 350)</code></li>
</ul>
<p>After each round, the <code>force_field</code> will be updated based on its building and the adjacent cells. 
<code>fort_level == 0</code> if the adjacent cell we are considering has no <code>fortress</code>. </p>
<ul>
<li>Cell has a fortress, increase by <code>5 * fort_level</code></li>
<li>Each adjacent ally, increase by <code>2 + fort_level</code></li>
<li>Each adjacent enemy, decrease by <code>6 + 10 * fort_level</code></li>
</ul>
<blockquote>
<p>For example. Player A owns cell (2, 2) and currently the cell has 100 
  <code>force_field</code>. Player A owns (2, 1) and (1, 2), too. (2, 3) is empty and
  Player B owns (3, 2). Therefore the cell (2, 2) has 2 self cells and 1 emeny
  cell around, so for each round, the <code>force_field</code> will reduce 6 - 2 * 2
  = 2.</p>
<p><code>Fortress</code> will affect the change of <code>force_field</code>. If Player A owns
  cell (2, 2) and has a level 1 <code>Fortress</code> on it. Player A owns (2, 1) with
  a level 2 <code>Fortress</code> and (1, 2) with nothing. Player B owns (2, 3) with
  a level 1 <code>Fortress</code> and (3, 2) with nothing. The cell (2, 2) will have 
  a <code>force_field</code> change for <code>4 + 6 + 2 - 16 - 6</code> = <code>-10</code></p>
</blockquote>
<h4 id="attack-cost">Attack Cost</h4>
<p>The <code>attack_cost</code> of a cell depends on its <code>natural_cost</code>, <code>force_field</code>, and the level of any <code>fortress</code> built on it. 
Assuming a cell with no <code>fortress</code> has a <code>fort_level == 0</code>, <code>attack_cost</code> is:</p>
<ul>
<li><code>attack_cost == (natural_cost + force_field) * (1 + fort_level)</code></li>
</ul>
<h3 id="user">User</h3>
<p>Players can join a game that is open to new players by supplying a <code>username</code> and a <code>password</code>. 
While the game is going, anybody who supplies the <code>username</code> and <code>password</code> of a current player will be treated as that player. 
This is only intended to make conflicts unlikely. It is not intended as a security feature. </p>
<p>Player registration only lasts until the end of the game. 
Each player must re-register with any new game that is started. </p>
<p>Each unique player must have a unique <code>username</code>. 
If two players attempt to register with the same <code>username</code> then only one will succeed. </p>
<h4 id="tech-level">Tech Level</h4>
<p><code>tech_level</code> is the level of the player's <code>Home</code> building. 
All other buildings can only be upgraded until they reach the player's <code>tech_level</code>. 
In order to upgrade buildings further, a player must first increase their <code>tech_level</code> by leveling up their <code>Home</code>. </p>
<h4 id="tax-amount">Tax Amount</h4>
<p>Players are taxed <code>energy</code> and <code>gold</code> every turn based on the number of cells and resource buildings (<code>EnergyWell</code> and <code>GoldMine</code>) they own. 
There are actually two taxes, one based on cell count <code>cell_tax_amount</code> and one based on building count <code>building_tax_amount</code>. </p>
<p>Both taxes use the same progressive <code>marginal_tax_rate</code> system with the same tax brackets. 
This is similar to the US tax system. 
For those unfamiliar with how this works, each extra unit has a cost, the cost increases the more units owned, and the increased costs are not retroactive. 
Moving up to the next tax bracket only affects new units. 
The old units are taxed at their previous rate. </p>
<table>
<thead>
<tr>
<th>number</th>
<th>tax rate</th>
<th>total tax</th>
</tr>
</thead>
<tbody>
<tr>
<td>0-75</td>
<td>no tax</td>
<td>0</td>
</tr>
<tr>
<td>76-150</td>
<td>1 per cell/building</td>
<td>1*(num - 75)</td>
</tr>
<tr>
<td>151-225</td>
<td>2 per cell/building</td>
<td>75 + 2*(num - 150)</td>
</tr>
<tr>
<td>226-300</td>
<td>3 per cell/building</td>
<td>225 + 3*(num - 225)</td>
</tr>
<tr>
<td>...</td>
<td>...</td>
<td></td>
</tr>
<tr>
<td>826-900</td>
<td>11 per cell/building</td>
<td>4125 + 11*(num - 825)</td>
</tr>
</tbody>
</table>
<blockquote>
<p>For example. A player has 337 cells on which 102 <code>gold_mines</code>, 73 
  <code>energy_wells</code> and 99 <code>fortress</code> are built. First we need to calculate
  the tax generated by number of cells. The tax for cells would 
  be <code>0 + 75*1 + 75*2 + 75*3 + 37*4 = 598</code>. Then we know the number of resource 
  buildings is 102 + 73 = 175, so the tax generated by buildings would be
  <code>0 + 75*1 + 25*2 = 125</code> The total tax would be <code>598 + 125 = 723</code></p>
<p>As a result, 723 gold and 723 energy will be reduced from the player each
  round.</p>
</blockquote>