<!DOCTYPE html>
<html>
  <head>
    {% include 'header.html' %}
    <link rel="stylesheet" href='/static/gameroom.css'>
  </head>
  <body>
    {% include 'navbar.html' %}
    <div class="container-fluid">
      <div class="row" id="cf-game-row">
        <div class="col-2" id="user-list-div">
          <p class="game-status-header">USER LIST</p>
          <div class="game-status-section" id="user-list-info">
          </div>
        </div>
        <div class="col-6 text-center" id="cf-game-col"><div id="game-div"></div></div>
        <div class="col-3" id="game-status-div">
          <p class="game-status-header">GAME STAT</p>
          <div class="game-status-section">
            <div class="d-flex">
              <div class="mr-auto">
                <p class="game-status-title">Turn</p>
                <p id="turn-stat" class="game-status-value">0/500</p>
              </div>
              <div class="game-control">
                <a id="restart-button" href="#"><i class="fas fa-redo"></i></a>
                <a id="config-button" href="#" data-toggle="modal" data-target="#config-modal"><i class="fas fa-cog "></i></a>
                <a id="expand-button" href="#"><i class="fas fa-expand"></i></a>
                <a id="compress-button" href="#" class="collapse"><i class="fas fa-compress"></i></a>
              </div>
            </div>
          </div>
          <p class="game-status-header">USER INFO</p>
          <div id="user-info">
            <div id= "join-game-section" class="game-status-section">
              <form id="join-game-form">
                <label>Username:</label><br>
                <input type="text" class="row-input"><br>
                <label>Password:</label><br>
                <input type="password" class="row-input"><br>
                <input type="button" onclick="join_game_button()" value="Join Game">
              </form>
            </div>
            <div id="self-info">
            </div>
          </div>
          <p class="game-status-header">SELECTED USER INFO</p>
          <div id="selected-user-info">
          </div>
          <p class="game-status-header">SELECTED CELL INFO</p>
          <div id="selected-cell-info">
          </div>
        </div>
      </div>
    </div>
    {% include 'config_modal.html' %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.8.6/pixi.min.js"></script>
    <script src="/static/gamerender.js"></script>
    <script src="/static/gamecontrol.js"></script>
  </body>
</html>
