<h1 id="colorfightii-rules">ColorfightII Rules</h1>
<h2 id="overview">Overview</h2>
<p>ColorfightII is a round based game where players try to expand their territory 
and collect resource to win the game. </p>
<p>There are two kinds of resources:</p>
<ul>
<li>Energy</li>
<li>Gold</li>
</ul>
<p>Each player starts with a certain amount of energy and a home cell. The player
will get energy and gold from the cells they occupy. Each cell provides 
different amount of energy and gold per round.</p>
<p>Players use energy to attack and occupy other cells to expand their territory,
therefore collect more gold and energy source.</p>
<p>Players use gold to build different buildings on their own cells to help the
game process.</p>
<p>At the end of the game, the player with the highest amount of gold wins.</p>
<h2 id="game-flow">Game Flow</h2>
<h3 id="preparation">Preparation</h3>
<p>In the beginning of each game, a 30x30 map will be generated. Each cell of the map
will have <code>natural_cost</code>, <code>natural_energy</code> and <code>natural_gold</code> 
attributes. </p>
<h3 id="register">Register</h3>
<p>During anytime of the game, a player is allowed to register to the
game. The player will be assigned to a cell, this cell will be the home of
the player. A player will have 1000 <code>energy</code> when register to the game.</p>
<h3 id="command">Command</h3>
<p>For each round, a player could give a list of valid commands. The possible 
commands are:</p>
<ul>
<li>attack</li>
<li>build</li>
<li>upgrade</li>
</ul>
<h4 id="attack">attack</h4>
<p>Players could use a certain amount of energy to attack a cell that's adjacent
to their already occupied cells. </p>
<p>To successfully attack(or occupy) the cell, the player has to spend at least
<code>attack_cost</code> amount of energy.</p>
<p>If multiple players attack one cell in the same round, the player spends the 
most energy will be the attacker and the equivalent attack energy will be
<code>max_energy * 2 - total_energy</code> where <code>max_energy</code> is the maximum energy
a player spends and the <code>total_energy</code> will be all the energy spent on this
cell. </p>
<p>In this case, the equivalent attack energy has to be at least <code>attack_cost</code>
to successfully attack the cell. </p>
<p>The more energy the player uses to attack the cell, the more <code>force_field</code>
will be generated after the cell is occupied so it is harder for other players 
to take it back. The generated <code>force_field</code> will be
 <code>(equivalent_energy - attack_cost) * 2</code>. The upper limit of <code>force_field</code> is 1000.</p>
<p>No matter whether the attack is successful, all the energy will be spent.</p>
<blockquote>
<p>For example, assume the <code>attack_cost</code> of a cell is <code>100</code>.</p>
<p>Case 1, if player A spent 50 energy to attack it, the attack would fail and 
  player A will lose 50 energy(which is not a wise move). </p>
<p>Case 2, if player A spent 150 energy to attack it, the attack would succeed and
  player A will occupy the cell with 150 energy spent. The cell will also have 100
  <code>force_field</code> because 50 extra energy is spent to attack it, 
so the <code>attack_cost</code> will be 200. </p>
<p>Case 3, if player A spent 150 energy and player B spent 150 energy. The 
  <code>equivalent_energy</code> will be 0 so the attack would fail. Both A and B lose
  150 energy(bad for them but this is not a stupid move for them because they
  would not have known).</p>
<p>Case 4, if the player A spent 350 energy and player B spent 150 energy, the 
  <code>equivalent_energy</code> will be 350 - 150 = 200 and player A will take the cell.
  player B will lose 150 energy and the <code>force_field</code> would be (200 - 100) * 2 = 200.</p>
</blockquote>
<p>Notice that players can attack their own cells as a strategy.</p>
<blockquote>
<p>For example, assume the <code>attack_cost</code> of a cell is <code>100</code> and Player A
  owns it. Player B decided to use 100 energy to attack the cell and Player A
  attack that cell with 1 energy on the same round. Then the equivalent energy
  would be 99 and Player B would fail to attack that cell.</p>
</blockquote>
<h4 id="build">build</h4>
<p>A player could build on occupied cells.</p>
<p>A player needs <code>cost</code> amount of gold to build the building. </p>
<p>The buildings will take affect the round they are built. </p>
<h4 id="upgrade">upgrade</h4>
<p>A player could upgrade their buildings to have better effects from them. 
The maximum level of the building(except for home) is limited by the level of
home. You need to upgrade your home before upgrading other buildings. </p>
<p>All buildings including home start at level 1. After each upgrade, the level
will increase by 1. </p>
<p>Notice the player can build and upgrade the building on the same round. The 
commands will be parsed in order.</p>
<h3 id="update">Update</h3>
<h4 id="order">Order</h4>
<ol>
<li>Parse all the commands<ol>
<li>building will be built</li>
<li>upgrade will finish</li>
</ol>
</li>
<li>Update cells<ol>
<li>parse all the attack commands, calculate the owner of the cell for next
   round.</li>
<li><code>gold</code> and <code>energy</code> income will be calculated based on the new
   possessions.</li>
<li><code>tech_level</code> will be determined.</li>
<li><code>force_field</code> will be updated accordingly.</li>
</ol>
</li>
<li>Update players<ol>
<li><code>gold</code> and <code>energy</code> will be updated </li>
<li>player without any cell will be dead </li>
</ol>
</li>
</ol>
<h2 id="game-feature">Game Feature</h2>
<h3 id="mapcell">MapCell</h3>
<p>A <code>MapCell</code> represents a cell that a user can occupy. </p>
<p><code>MapCell</code> can produce energy and gold for each round. It has three natural
attributes:</p>
<ul>
<li><code>natural_energy</code> (1 - 10)</li>
<li><code>natural_gold</code> (1 - 10)</li>
<li><code>natural_cost</code> (1 - 300)</li>
</ul>
<p>The natural attributes of a cell will not change in a game. However, the actual
energy and gold it produces and the actual cost to occupy it may change due to
other aspects. </p>
<p>A <code>MapCell</code> will generate energy and gold each round based on 
<code>natural_energy</code>, <code>natural_gold</code> and the building on the cell. </p>
<p><code>energy_source</code> and <code>gold_source</code> shows the resource a <code>MapCell</code>
can produce per round.</p>
<p>However, the actual energy and gold a player gets may be taxed if the player
owns too many cells.</p>
<p>For every 100 cells the player owns, 2 gold and 2 energy will be taxed for each
cell the player has.</p>
<h4 id="building">Building</h4>
<p>Players can build on a <code>MapCell</code> that's owned by them. Only one building
is allowed on one <code>MapCell</code></p>
<p>Each building has a <code>level</code>. When the building is built, the <code>level</code>
is <code>1</code>. Players can upgrade their buildings(increase level) with resources 
as long as the building's level is less than their <code>tech_level</code>(Upgrading
home is not restricted by this rule).</p>
<p>A building on a <code>MapCell</code> will change the amount of energy and gold the 
cell provides. </p>
<ul>
<li><code>Home</code> is automatically built on the cell that the player spawns. <ul>
<li><code>attack_cost</code> 1000</li>
<li><code>upgrade_cost</code> = <code>[(1000, 1000), (2000, 2000)]</code></li>
<li><code>energy</code> = <code>10 * level</code></li>
<li><code>gold</code> = <code>10 * level</code></li>
</ul>
</li>
<li><code>EnergyWell</code> is the building to increase the energy production.<ul>
<li><code>cost</code> = <code>100 gold</code></li>
<li><code>upgrade_cost</code> = <code>[(200, 0), (400, 0)]</code></li>
<li><code>energy</code> = <code>natural_energy * (1 + level)</code></li>
</ul>
</li>
<li><code>GoldMine</code> is the building to increase the gold production.<ul>
<li><code>cost</code> = <code>100 gold</code></li>
<li><code>upgrade_cost</code> =  <code>[(200, 0), (400, 0)]</code></li>
<li><code>gold</code> = <code>natural_gold * (1 + level)</code> </li>
</ul>
</li>
</ul>
<p><code>upgrade_cost</code> = [level2 cost(gold, energy), level3 cost(gold, energy)]</p>
<p>A building will be destroyed if the cell is occupied by another player.</p>
<h4 id="force-field">Force Field</h4>
<p>A <code>MapCell</code> will have a <code>force_field</code> after it's occupied by a player. 
This will equivalently add <code>attack_cost</code> to the <code>MapCell</code> so it would 
be harder for other players to occupy it.
<code>force_field</code> is determined by the energy a player puts to attack the cell 
and the total energy all players put to attack this cell in that round. </p>
<p><code>force_field = int(min(1000, 2*(energy*2 - total_energy - attack_cost)))</code></p>
<p><code>force_field</code> will be added to <code>attack_cost</code></p>
<p>After each round, <code>force_field</code> will be updated based on surrounding cells.
For each enemy surrounding cell, <code>force_field</code> will reduce <code>30</code>. For
each self cell, <code>force_field</code> will increase <code>5</code>.</p>
<blockquote>
<p>For example. Player A owns cell (2, 2) and currently the cell has 100 
  <code>force_field</code>. Player A owns (2, 1) and (1, 2), too. (2, 3) is empty and
  Player B owns (3, 2). Therefore the cell (2, 2) has 2 self cells and 1 emeny
  cell around, so for each round, the <code>force_field</code> will reduce 30 - 2 * 5
  = 20.</p>
</blockquote>
<h3 id="gamemap">GameMap</h3>
<p><code>GameMap</code> consists of <code>GAME_WIDTH * GAME_HEIGHT</code> <code>MapCell</code>s.</p>
<p>In the beginning of the game, the game will generate a <code>GameMap</code> and blur
it so the <code>natural_cost</code> will be smooth.</p>
<p><code>natural_cost</code> is moderately related to <code>natural_energy</code> and 
<code>natural_gold</code></p>
<h3 id="user">User</h3>
<p>Each player enters the game with a <code>username</code> and a <code>password</code>. If a
player register with the same <code>username</code> and <code>password</code>, it will be 
treated as the same user. Duplicate usernames are not allowed.</p>
<p>A player starts with 1000 <code>energy</code> and 0 <code>gold</code>. </p>
<h4 id="tech-level">Tech Level</h4>
<p><code>tech_level</code> is determined by the highest level of <code>home</code> buildings the
player has. <code>tech_level</code> limits the level of all other buildings. The player
needs to upgrade their home to a higher level, therefore achieves a higher
<code>tech_level</code>, before they upgrade other buildings.</p>
<h4 id="tax-level">Tax Level</h4>
<p><code>tax_level</code> is determined by the cell number the player owns. For every
100 cells, 2 gold and 2 energy will be taxed for each cell the player owns. </p>
<p>For example, if the player has 298 cells, the <code>tax_level</code> will be 2 and for
each round, 298*2 = 596 energy and gold will be subtracted from player's gold
and energy.</p>