<!DOCTYPE html>
<html>
  <head>
    {% include 'header.html' %}
    <link rel="stylesheet" href='/static/gameroom.css'>
  </head>
  <body>
    {% include 'navbar.html' %}
    <div class="container-fluid">
      <div class="d-flex justify-content-center" id="cf-game-row">
        <div class="pr-5" id="user-list-div">
          <p class="game-status-header">USER LIST</p>
          <div class="game-status-section" id="user-list-info">
          </div>
        </div>
        <div class="text-center" id="cf-game-col"><div id="game-div"></div></div>
        <div class="pl-5" id="game-status-div">
          <p class="game-status-header">GAME STAT</p>
          <div class="game-status-section">
            <div class="d-flex">
              <div class="mr-auto">
                <p class="game-status-title">Turn</p>
                <p id="turn-stat" class="game-status-value">0/500</p>
              </div>
              <div class="game-control">
                <div class="text-right">
                  {% if not replay_mode %}
                  <a id="go-button" href="#"><i class="fas fa-play"></i></a>
                  {% endif %}
                  {% if replay_enable == 'always' %}
                  <a id="download-button" href="#" enable_condition="always"><i class="fas fa-download"></i></a>
                  {% elif replay_enable == 'end' %}
                  <a id="download-button" href="#" enable_condition="end"><i class="fas fa-download"></i></a>
                  {% endif %}
                  {% if not replay_mode %}
                  <a id="restart-button" href="#"><i class="fas fa-redo"></i></a>
                  <a id="config-button" href="#" data-toggle="modal" data-target="#config-modal"><i class="fas fa-cog "></i></a>
                  {% endif %}
                  <a id="expand-button" href="#"><i class="fas fa-expand"></i></a>
                  <a id="compress-button" href="#" class="collapse"><i class="fas fa-compress"></i></a>
                </div>
                <div class="text-right">
                  <a id="resource-render-button" href="#"><i class="fas fa-coins"></i></a>
                  <a id="building-render-button" href="#"><i class="fas fa-building"></i></a>
                  <a id="owner-render-button" href="#"><i class="fas fa-square"></i></a>
                </div>
              </div>
            </div>
          </div>
          {% if allow_manual_mode %}
          <div id="user-info">
            <div id= "join-game-section" class="game-status-section">
              <form id="join-game-form">
                <label>Username:</label><br>
                <input type="text" class="row-input"><br>
                <label>Password:</label><br>
                <input type="password" class="row-input"><br>
                <input id="join-game-button" type="button" onclick="join_game_button()" value="Join Game">
              </form>
            </div>
            <div id="self-info">
            </div>
          </div>
          {% endif %}
          {% if replay_mode %}
          <p class="game-status-header">REPLAY</p>
          <div id="replay-info">
            <div id="replay-section" class="game-status-section">
              <form>
                <input type="file" id="replay-file-input" class="form-control d-none">
                <button id="replay-file-load-button" class="btn btn-success btn-sm form-control" type="button">LOAD REPLAY</button>
              </form>
              <div id="replay-control-section" class="pt-2">
                <div class="slidecontainer">
                  <input type="range" min="0" max="0" value="0" class="slider" id="replay-slider">
                </div>
                <div class="game-control d-flex justify-content-around">
                  <div><a id="replay-slow-button" href="#"><i class="fas fa-angle-double-down"></i></a></div>
                  <div><a id="replay-step-back-button" href="#"><i class="fas fa-chevron-left"></i></a></div>
                  <div id="replay-play-button-div"><a id="replay-play-button" href="#"><i class="fas fa-play"></i></a></div>
                  <div id="replay-pause-button-div" class="collapse"><a id="replay-pause-button" href="#"><i class="fas fa-pause"></i></a></div>
                  <div><a id="replay-step-forward-button" href="#"><i class="fas fa-chevron-right"></i></a></div>
                  <div><a id="replay-fast-button" href="#"><i class="fas fa-angle-double-up"></i></a></div>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
          <div id="selected-user-info"></div>
          <div id="selected-cell-info"></div>
        </div>
      </div>
    </div>
    {% include 'config_modal.html' %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.8.6/pixi.min.js"></script>
    {% if replay_mode %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pako/1.0.10/pako_inflate.js"></script>
    <script src="/static/replay.js"></script>
    {% endif %}
    <script src="/static/gamerender.js"></script>
    <script src="/static/gamecontrol.js"></script>
  </body>
</html>
