<!DOCTYPE html>
<html>
  <head>
    {% include 'header.html' %}
    <link rel="stylesheet" href='/static/gameroom_list.css'>
  </head>
  <body>
    {% include 'navbar.html' %}
    <div class="container">
      <div class="main-content">
        <div class="row">
          <div class="col-md-12">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="table-container">
              <div class="table-div">
                <div class="table-head">
                  <div class="table-row table-row-head row">
                    {% for header in headers %}
                      {% if header == 'Name' %}
                        <div class="table-column th-name col-md-7">
                      {% else %}
                        <div class="table-column col">
                      {% endif %}
                      {{ header }}
                    </div>
                    {% endfor %}
                  </div>
                </div>
                <div>
                  {% for room in gamerooms %}
                  <div href={{room.link}} class="game-room-tr table-row table-row-content row">
                    {% for header in headers %}
                      {% if header == 'Name' %}
                        <div class="table-column col-md-7 gameroom-name-div">
                          {% if room[header] != 'public' %}
                            <a href="#" data-toggle="modal" data-target="#gameroom-delete-modal" class="delete-room-icon"><i class="fas fa-lg fa-trash-alt delete-room-icon"></i></a>
                          {% endif %}
                      {% else %}
                        <div class="table-column col">
                      {% endif %}
                      {{ room[header] | safe }}
                    </div>
                    {% endfor %}
                  </div>
                  {% endfor %}
                  <div href='#' data-toggle="modal" data-target="#gameroom-create-modal" class="add-room-tr table-row table-row-content row">
                    <div class="table-column col-md-12 text-center">
                      <a id="gameroom-create-fa"><i class="fas fa-lg fa-plus-circle"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- create game room modal -->
      <div class="modal fade" id="gameroom-create-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Create Gameroom</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label for="gameroom-name">Gameroom Name</label>
                <input class="form-control" id="gameroom-name" placeholder="Input gameroom name here">
              </div>
              <div class="form-group">
                <label for="admin-password-input">Admin Password</label>
                <input class="form-control" id="admin-password-input" type="password" placeholder="Leave blank if you allow everyone to change the config">
              </div>
              <div class="form-group">
                <label for="join-key-input">Join Key</label>
                <input class="form-control" id="join-key-input" type="password" placeholder="Leave blank if you allow everyone to join the room">
              </div>
            </div>
            <div class="modal-foot text-right">
              <button type="button" id="create-gameroom-button" class="btn btn-primary">Create</button>
            </div>
          </div>
        </div>
      </div>

      <!-- delete game room modal -->
      <div class="modal fade" id="gameroom-delete-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Delete Gameroom</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label for="delete-admin-password-input">Admin Password</label>
                <input class="form-control" id="delete-admin-password-input" type="password" placeholder="">
              </div>
            </div>
            <div class="modal-foot text-right">
              <button type="button" id="delete-gameroom-button" class="btn btn-danger">DELETE</button>
            </div>
          </div>
        </div>
      </div>

    </div>
    <script src="/static/gameroom_list.js"></script>
  </body>
</html>
