<!DOCTYPE html>
<html>
  <head>
    {% include 'header.html' %}
  </head>
  <body>
    {% include 'navbar.html' %}
    <div class="container">
      <div class="main-content">
        <div class="row">
          <div class="col-md-12">

            <div class="doc-content-container">

              <div class="doc-header">
                <h1>GET STARTED</h1>
              </div>

              <div class="doc-section">
                <h3>Github Repo</h3>
                <p>If you are familiar with github, you can clone the example AI repo:</p>
                <code>git clone https://github.com/gaogaotiantian/ColorfightIIBot.git the/path/you/want/</code>
              </div>

              <div class="doc-section">
                <h3>Download</h3>
                <p>You can also download the example AI from our website directly.</p>
                <a href="#" id="python3-download" class="pr-2"><button>Python3</button></a>
                <a href="#" id="java-download" class="pr-2"><button>Java</button></a>
              </div>

              <div class="doc-header">
                <h1>RUN YOUR BOT</h1>
              </div>

              <div class="doc-section">
                <h3>Python3</h3>
                <p>You need python3.6+ and you need to install the requirement package by</p> 
                <p><code>pip3 install -r requirements.txt</code></p>
                <p>Then you can run you bot by:</p>
                <p><code>python3 example_ai.py</code></p>
                <p>If you experience <code>python ssl.SSLError: [SSL: CERTIFICATE_VERIFY_FAILED]</code> error on MacOX:</p>
                <p>It's because Apple forked their own version of ssl and python3.6 has this weird problem with wss/https.</p>
                <p>You can switch to python3.7 or check <a href="https://stackoverflow.com/questions/42098126/mac-osx-python-ssl-sslerror-ssl-certificate-verify-failed-certificate-verify">this link</a> for a solution</p>
              </div>

              <div class="doc-section">
                <h3>Java</h3>
                <p>To run your AI with the API we provide, modify <code>example_ai.java</code> and do:</p> 
                <p><code>./run_game.sh</code></p>
                <p>If you are using an IDE, add <code>colorfightII.jar</code> as an external library in the IDE.</p>
                <p>If you need to change our API, you need <code>maven</code></p>
                <p>Edit our Java source code in <code>src</code> and do <code>./build_jar.sh</code> to create you own API jar package.</p>
                <p>You can also make an AI without the jar file. Open our project in your IDE as a <code>MAVEN</code> project, then create a <code>main</code> class in <code>src/main/java/colorfightII</code>. You can run <code>main</code> in your IDE directly.</p>
              </div>

              <div class="doc-header">
                <h1>CHECK YOUR AI IN GAMEROOM</h1>
              </div>

              <div class="doc-section">
                <p>Go to <a href="/gameroom">gameroom page</a> and you'll find a list of rooms that you can join.</p>
                <p>You can create your own room with your rules and admin password by clicking the add button at the end of gameroom list.</p>
                <p>By default, <code>exampleAI</code> joins <a href="/gameroom/public/play">public</a> room. You can check the game status in it</p>
                <p>You can click the restart button on the game stat panel to restart the game</p> 
              </div>

              <div class="doc-header">
                <h1>VERIFY YOUR ACCOUNT</h1>
              </div>

              <div class="doc-section">
                <p>To get your ranking score and appear in the leaderboard, you need a verified account.</p>
                <p>Log in with your Google/Facebook/Github account. The log in process is through OAuth2 so Colorfight does not have access to you password
                   or store it in any format. The only thing Colorfight knows is your email address with the account and the fact you are logged in.</p>
                <p>After you log in, you should be directed to your dashbord. If not, you can always click MENU-DASHBORD on the top right corner of the website.</p>
                <p>There is a section "Game Authentication Info". Here you need to specify your "Game Username" and "Game Password" and use these in your AI to join the game.</p>
                <p><b>We highly recommend you against using your regular password here!</b></p>
                <p>Colorfight store your username/password set in plain text and display it on your dashboard for your convenience. Even though we would never leak or sell your 
                   information, it is still the best practice to keep yourself safe by using a unique password(which even does not to be that strong) here. 
                </p>
                <p>If you join the game with verified account, your username on the user list should appear in a different color.</p>
                <p>You will be ranked and your ranking will be displayed in your dashboard and leaderboard.</p>
              </div>

              <div class="doc-header">
                <h1>FAQ</h1>
              </div>

              <div class="doc-section">
                <div class="q-and-a-section">
                  <p>Q: Why the game stopped at 500/500?</p>
                  <p>A: Colorfight is a round-based game and each single game lasts for certain rounds. The game stops after specified number of rounds(default 500) and shows the 
                     final result. You can click restart button in game stat panel to restart the game. Or you can configure the game to restart immediately after finish.
                  </p>
                </div>
                
                <div class="q-and-a-section">
                  <p>Q: Why click restart button won't work?</p>
                  <p>A: If a room is created by other players, they may specify an admin password for it. You can only start/restart/configure the game if you have the admin password.</p>
                </div>

                <div class="q-and-a-section">
                  <p>Q: Where should I input my admin password? </p>
                  <p>A: If you have the admin password for the gameroom, you need to open the configuration panel and input the admin password in "Admin Password" section. 
                     You need to do this to start/restart/configure the game. If the gameroom does not have admin password(like public), you should leave it blank to control the room.
                  </p>
                </div>

                <div class="q-and-a-section">
                  <p>Q: What if I have more questions?</p>
                  <p>A: You can join our slack channel, email us or ask it through twitter. All the info is in <a href="/contact">contact</a>.</p>
                </div>
                  
              </div>

            </div> <!-- doc-content-container -->

          </div>
        </div>
      </div>
    </div>
    <script src="/static/botfile.js"></script>
  </body>
</html>
