<!DOCTYPE html>
<html>
  <head>
    {% include 'header.html' %}
  </head>
  <body>
    {% include 'navbar.html' %}
    <div class="container">
      <div class="main-content">
        <div class="row">
          <div class="col-md-12">

            <div class="doc-content-container">

              <div class="doc-header">
                <h1>GET STARTED</h1>
              </div>

              <div class="doc-section">
                <h3>Github Repo</h3>
                <p>If you are familiar with github, you can clone the example AI repo:</p>
                <code>git clone https://github.com/gaogaotiantian/ColorfightIIBot.git the/path/you/want/</code>
              </div>

              <div class="doc-section">
                <h3>Download</h3>
                <p>You can also download the example AI from our website directly.</p>
                <a href="https://firebasestorage.googleapis.com/v0/b/colorfightai-firebase.appspot.com/o/assets%2Fpython3.zip?alt=media&token=9187e90d-56c5-4308-999f-c3bf0ff050e0" class="pr-2"><button>Python3</button></a>
                <a href="https://firebasestorage.googleapis.com/v0/b/colorfightai-firebase.appspot.com/o/assets%2Fjava.zip?alt=media&token=c37017fe-b693-45d7-b2ad-824ff40dd5fd" class="pr-2"><button>Java</button></a>
              </div>

              <div class="doc-header">
                <h1>RUN YOUR BOT</h1>
              </div>

              <div class="doc-section">
                <h3>Python3</h3>
                <p>You need python3.6+ and you need to install the requirement package by</p> 
                <p><code>pip3 install -r requirements.txt</code></p>
                <p>Then you can run you bot by:</p>
                <p><code>python3 example_ai.py</code></p>
              </div>

              <div class="doc-section">
                <h3>Java</h3>
                <p>To run your AI with the API we provide, modify <code>example_ai.java</code> and do:</p> 
                <p><code>./run_game.sh</code></p>
                <p>If you are using an IDE, add <code>colorfightII.jar</code> as an external library in the IDE.</p>
                <p>If you need to change our API, you need <code>maven</code></p>
                <p>Edit our Java source code in <code>src</code> and do <code>./build_jar.sh</code> to create you own API jar package.</p>
                <p>You can also make an AI without the jar file. Open our project in your IDE as a <code>MAVEN</code> project, then create a <code>main</code> class in <code>src/main/java/colorfightII</code>. You can run <code>main</code> in your IDE directly.</p>
              </div>

            </div> <!-- doc-content-container -->

          </div>
        </div>
      </div>
    </div>
  </body>
</html>
