<html>
  <head>
    {% include 'header.html' %}
  </head>
  <body>
    {% include 'navbar.html' %}
    <div class="container">
      <div class="main-content">
        <div class="row section-overview">
          <div class="col-md-12">
            <h1>Welcome to ColorFightII</h1>
            <p>ColorFightII is an open source artificial intelligence platform, created by Tian Gao</p>
            <p>In ColorFightII, you need to write a bot to expand, develop and conquer. You need to keep a good balance between war and economy, and try to collect more gold in the end of the game.</p>
            <a class="btn" href="/getstarted">Start Now</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
