<!DOCTYPE html>
<html>
  <head>
    {% include 'header.html' %}
  </head>
  <body>
    {% include 'navbar.html' %}
    <div class="container">
      <div class="main-content">
        <div class="row section-overview">
          <div class="col-md-12">
            <h1>Welcome to ColorFight</h1>
            <p>ColorFightII is an open source artificial intelligence platform, created by Tian Gao</p>
            <p>In ColorFightII, you need to write a bot to expand, develop and conquer. You need to keep a good balance between war and economy, and try to collect more gold in the end of the game.</p>
            <p>Please join our <a target="_blank" href="https://join.slack.com/t/colorfightai/shared_invite/enQtNjc1NTE1ODA3NDg5LTFmOGUzYmM2OTNlZGM2OWI2OGNiMmQxMjEzOTcyZmU1MWFlOWQ4YjJhZGRlMTExZDc2ODdiNjkxOTFhY2JlNjk">slack channel</a> for the latest updates</p>

            <a href="/getstarted"><button class="start-button">Start Now</button></a>

            <div id="current-calendar-div" class="pt-5">
              <div id="current-calendar-header" class="text-center">
                <h2>ColorFight Summer Tournament is NOW!</h2>
              </div>
              <div id="current-calendar-header">
                <div class="row">
                    <div class="col-3">
                      <div class="current-calendar-header">Phase</div>
                    </div>
                    <div class="col-3">
                      <div class="current-calendar-header">Time</div>
                    </div>
                    <div class="col-4">
                      <div class="current-calendar-header">Prize</div>
                    </div>
                    <div class="col-2">
                      <div class="current-calendar-header">Result</div>
                    </div>
                </div>
                <span class="calendar-table-divider"></span>
              </div>
              <div id="current-calendar-content">
                <div class="row">
                    <div class="col-3">
                      <div class="calendar-active">Pre-season 1</div>
                      <div>Pre-season 2</div>
                      <div>Quarter 1</div>
                      <div>Quarter 2</div>
                      <div>Quarter 3</div>
                      <div>Quarter 4</div>
                      <div>Final</div>
                    </div>
                    <div class="col-3">
                      <div class="calendar-active">July 1 - July 21</div>
                      <div>July 22 - July 28</div>
                      <div>July 29 - Aug 4</div>
                      <div>Aug 5 - Aug 11</div>
                      <div>Aug 12 - Aug 18</div>
                      <div>Aug 19 - Aug 25</div>
                      <div>Aug 31</div>
                    </div>
                    <div class="col-4">
                      <div class="calendar-active">Familiarity</div>
                      <div>Experience</div>
                      <div>$25 Amazon Giftcard</div>
                      <div>$25 Amazon Giftcard</div>
                      <div>$25 Amazon Giftcard</div>
                      <div>$25 Amazon Giftcard</div>
                      <div>$200+ Secret Prizes in Total</div>
                    </div>
                </div>
              </div>
              <p class="pt-2">In pre-season phase 1, everything in alpha stage. The server may 
                 restart anytime and the ongoing game will be 
                 deleted. Every game is ranked game to test the ladder system and the leaderboard. The game rules may
                 update frequently to fix loopholes or to balance the stategy.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <h4 class="mb-4 game-font">We are officially sponsored by:</h4>
            <img src="/static/ghs_logo.png">
          </div>
        </div>
        <div class="row section-overview">
          <div class="col-md-12">
            <a class="twitter-timeline" data-theme="dark" href="https://twitter.com/ColorfightAI?ref_src=twsrc%5Etfw">Tweets by ColorfightAI</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div>
        </div>
      </div>
    </div>

    <div class="row footer pb-2">
      <div class="col-12 text-center">
        <span class="px-2">&copy 2019 Tian Gao</span>
        <a href="/privacy_policy" class="px-2">Privacy Policy</a>
        <a href="/terms_of_service" class="px-2">Terms of Service</a>
      </div>
    </div>

  </body>
</html>
