<header>
  <nav class="navbar navbar-expand-md navbar-fixed-top">
    <a class="navbar-brand" href="/">
      <div id="colorfight-logo"></div>
    </a>
    <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbar-collapse-div">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbar-collapse-div" class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item px-2">
          <a class="nav-link" href="/gameroom">GAME ROOM</a>
        </li>
        <li class="nav-item px-2">
          <a class="nav-link" href="/replay">REPLAY</a>
        </li>
        <li class="nav-item px-2">
          <a class="nav-link" href="/getstarted">GET STARTED</a>
        </li>
        <li class="nav-item px-2">
        <a class="nav-link" href="/docs">DOCUMENTATION</a>
        </li>
        <li class="nav-item px-2">
          <a class="nav-link" href="/contact">CONTACT US</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
